*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #17161d
}

::-webkit-scrollbar-thumb{
    background-color: #ff3a5e;
    border-radius: 8px;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    background-color: #040405;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    text-align: center;
    color: #fff;
}

h2{
    font-size: 35px;
    font-weight: 400;
}

h5{
    font-size: 18px;
    padding: 5px;
    font-weight: lighter;
}

.deco{
    color: #ff3a5e;
}
.div-header{
    text-align: center;
    padding-top: 20px;
}

.foto-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

.icons{
    height: 1em;
    width: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}



#port{
    height: 20px;
    width: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#insta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 600px;
    height: 90px;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    background: linear-gradient( 45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100% );
}
#git{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 600px;
    height: 90px;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    background: linear-gradient(58deg, #1f9b95 8%, #3983b4 98%);
}
#lins{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 600px;
    height: 90px;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    background: #0060c0;
}

#porf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 600px;
    height: 90px;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    background: linear-gradient(70deg, #923dff 13%, #ac76ff 95%);
}

.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.git{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h4{
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.local{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#liza{
    height: 28px;
    width: 30px;
}

a{
    text-decoration: none;
}


footer{
    padding-top: 20px;
    font-weight: lighter;
    font-size: 18px;
}



@media screen and (max-width: 768px) {
    #insta{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        height: 80px;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        background: linear-gradient( 45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100% );
    }

    #git{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        height: 80px;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        background: linear-gradient(58deg, #1f9b95 8%, #3983b4 98%);
    }

    #lins{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        height: 80px;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        background: #0060c0;
    }

    #porf{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300px;
        height: 80px;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        background: linear-gradient(70deg, #923dff 13%, #ac76ff 95%);
    }

    .ufal{
        font-size: 18px;
    }

    footer{
        font-size: 15px;
    }
}